<h1>Tasks</h1>

<button (click)="logout()">
    Logout
</button>

<hr>

<p *ngIf="success">
    {{success}}
</p>

<p *ngIf="error">
    {{error}}
</p>

<div>
    <input placeholder="Title" [(ngModel)]="title" />
</div>

<div>
    <input placeholder="Description" [(ngModel)]="description" />
</div>

<button *ngIf="!editing" (click)="createTask()" [disabled]="loading">
    {{
        loading

        ? 'Loading...'

        : 'Add Task'
    }}
</button>

<button *ngIf="editing" (click)="updateTask()" [disabled]="loading">
    {{
        loading

        ? 'Loading...'

        : 'Update Task'
    }}
</button>

<button *ngIf="editing" (click)="cancelEdit()">
    Cancel
</button>

<hr>

<div *ngIf="loading">
    Loading...
</div>

<div *ngIf="!loading && tasks.length === 0">
    No tasks found.
</div>

<div *ngFor="let task of tasks">
    <h3>{{ task.title }}</h3>
    <p>{{ task.description }}</p>
    <button (click)="editTask(task)">Edit</button>
    <button (click)="deleteTask(task.id)">Delete</button>
    <hr>
</div>