<header>

  <h2>

    Task Manager

  </h2>

  <button (click)="logout()">

    Logout

  </button>

</header>

<div *ngIf="success" class="success-message">
  {{ success }}
</div>

<div *ngIf="error" class="error-message">
  {{ error }}
</div>

<section class="create-task">

  <h3>

    {{ editing ? 'Edit Task' : 'Create Task' }}

  </h3>

  <input
    placeholder="Title"
    [(ngModel)]="title"
  />

  <textarea
    placeholder="Description"
    [(ngModel)]="description"
  ></textarea>

  <button
    *ngIf="!editing"
    (click)="createTask()"
    [disabled]="loading"
  >

    {{
      loading
        ? 'Loading...'
        : 'Create'
    }}

  </button>

  <button
    *ngIf="editing"
    (click)="updateTask()"
    [disabled]="loading"
  >

    {{
      loading
        ? 'Loading...'
        : 'Update'
    }}

  </button>

  <button
    *ngIf="editing"
    (click)="cancelEdit()"
  >

    Cancel

  </button>

</section>

<div *ngIf="loading">

  Loading...

</div>

<div
  *ngIf="
    !loading &&
    tasks.length === 0
  "

   class="empty-message"
>

  📋 No tasks found.

</div>

<div
  class="task-card"
  *ngFor="let task of tasks"
>

  <h3>

    {{ task.title }}

  </h3>

  <p>

    {{ task.description }}

  </p>

  <div class="actions">

    <button
      (click)="editTask(task)"
    >

      Edit

    </button>

    <button
      (click)="deleteTask(task.id)"
    >

      Delete

    </button>

  </div>

</div>